---
layout: default
---
<body>
    <p>A highly opinionated rambler/developer/nerd.</p>
    
    <p>I develop software for a living!</p>
    
    <p>Get in touch!</p>
    <ul>
        <li>
            <a href="mailto:bl.panuto@gmail.com">email</a>
        </li>
        <li>
            <a href="https://twitter.com/panuto_">twitter</a>
        </li>
        <li>
            <a href="https://www.quora.com/profile/Bruno-Luis-Panuto-Silva">quora</a>
        </li>
    </ul>
       
    <h1>Posts</h1>
    <ul>
        {% for post in site.posts %}
        
            {% unless post.draft %}
                <li><a href="{{ post.url }}">{{post.title}}</a></li>
            {% endunless %}
        
        {% endfor %}
    </ul>
    
    <h1>Open Source projects</h1>

    {% for project in site.projects %}
    
    <h3>{{project.title}} <a href="{{ project.project_url }}">link</a></h3>
    
    <p>{{project.content}}</p>
    
    {% endfor %}
    
</body>
